body{
    text-align: center; 
    color:#FFFFFF;
    background-color: #000000;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body * {
    margin: 0; 
    border: 0; 
    padding: 0;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 0.25em;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0.25em;
}

header{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.iguana-back {
    height: 100vh;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.desc-section {
    text-align: left;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 16px/19px;
    font-weight: 300;
    padding-top: 45px;
    padding-bottom: 66px;
    padding-left: 150px;
    padding-left: 150px;
    display: inline-block;
    align-content: center;
}

.desc-texto {
    width: 37%;
    vertical-align: middle; 
    white-space: normal;
    margin-right: 8%;
    float: left;
}

.desc-foto {
    margin: 0%;
    width: 31%;
    margin-left: 2.5%;
    vertical-align: middle;
    float: right;
    margin-right: 15px;
}

footer h2 {
    font-size: 20px;
}

.icons-section {
    background-color: #1E1A13;
    padding: 6% 6%;
}

.icons-section h1{
    font-size: 40px/47px;
    padding-bottom: 50px;
}

.icons {
    display: inline-block;
    align-content: center;
    width: 30%;
}

.far, .fas { 
    color : #FFFFFF; 
    align-content: center;
    padding-bottom: 16px;
} 

.galeria-iguanas {
    display: inline-block;
    margin: 73px 150px 73px 150px; 
}

.fotos-galeria {
    width: 30%;
    display: inline-block;
}

.foto-iguana{
    float: left;
    width: 98%;
    padding: 10px;
}

.footer {
    background-color: #1E1A13;
    color: #FFFFFF;
    padding: 39px 39px
}

.footer a{
    text-decoration: none;
    color: #FFFFFF;
}